@model List<Jewelry>
<form method="post">
	<div>
		<div>
			<h2>View Jewelry</h2>
			<hr />
		</div>
		<table class="table table-bordered table-striped fs-6 fw-normal">
			<thead>
				<tr class="fw-normal">
					<th>Id</th>
					<th>Created At</th>
					<th>Name</th>
					<th width="15%">Description</th>
					@* <th>Status</th> *@
					<th>Materials</th>
					<th>Quotation</th>
					<th>Design</th>
					<th>Manufacture</th>
					<th>Deliver</th>
					@* <th width="13%">Image</th>
					<th>Customer</th>
					<th>Staffs</th>
					<th>Production Request</th>
					<th>Warranty Card</th> *@
				</tr>
			</thead>
			<tbody>
				@{ var i = 0; }
				@foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
				{
					<tr>
						<td>@obj.Id</td>
						<td>@obj.CreatedAt</td>
						<td>@obj.Name</td>
						<td>@obj.Description</td>
						@* <td>@obj.Status</td> *@
						@* <td>@obj?.Customer?.Name</td> *@

						@if (obj.MaterialSetId is not null)
						{
							<td><a asp-controller="MaterialSet" asp-action="Index" asp-route-id="@obj.MaterialSet.Id" class="btn btn-primary btn-sm">View</a></td>
						} 
						else if (User.IsInRole(SD.Role_Sales))
						{
							<td><a asp-controller="MaterialSet" asp-action="Create" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
						} 
						else
						{
							<td></td>
						}

						@if (@obj.QuotationRequests.Count != 0)
						{
							<td><a asp-controller="QuotationRequest" asp-action="Index" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
						}
						else
						{
							<td></td>
						}

						@if (@obj.JewelryDesigns.Count != 0)
						{
							<td><a asp-controller="JewelryDesign" asp-action="Details" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
						} 
						else if (User.IsInRole(SD.Role_Design))
						{
							<td><a asp-controller="JewelryDesign" asp-action="Create" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
						} 
						else
						{
							<td></td>
						}

						@if (User.IsInRole(SD.Role_Production) && obj.Status == "Currently manufacturing")
						{
							<td><a asp-controller="Jewelry" asp-action="Complete" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Complete</a></td>
						}
						else if (User.IsInRole(SD.Role_Production) && obj.Status == "Design Approved")
						{
							<td><a asp-controller="JewelryDesign" asp-action="Manufacture" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">View Design</a></td>
						}
						else
						{
							<td></td>
						}

						@if (User.IsInRole(SD.Role_Sales) && @obj.Status == "Manufactured")
						{
							<td><a asp-controller="Jewelry" asp-action="Deliver" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Deliver</a></td>
						} 
						else if (@obj.Status == "Delivered")
						{
							<td>Delivered!</td>
						} 
						else
						{
							<td></td>
						}

					</tr>
				}
			</tbody>
		</table>
	</div>
	<!-- <div asp-validation-summary="All"></div> -->

</form>