@model QuotationRequestVM

<form method="post" class="container">
	<div class="caption-top row">
		<h2>Quotation request for Jewelry: @Model.Jewelry.Name</h2>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-10">
				<input asp-for="@Model.Jewelry.Id" hidden />
				<input asp-for="@Model.MaterialSet.Id" hidden />
				<div class="col-12 py-2 form-floating">
					<input disabled asp-for="@Model.QuotationRequest.Name" class="form-control border-0 shadow" />
					<label asp-for="@Model.QuotationRequest.Name" class="ms-2"></label>
				</div>
				<div class="col-12 py-2 form-floating">
					<input disabled asp-for="@Model.QuotationRequest.LaborPrice" class="form-control border-0 shadow" />
					<label asp-for="@Model.QuotationRequest.LaborPrice" class="ms-2"></label>
				</div>
				<div class="col-12 py-2 form-floating">
					<h2>Gemstones</h2>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Weight (carat)</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							@foreach (Gemstone gemstone in @Model.MaterialSet.Gemstones)
							{
								<tr>
									<td>@gemstone.Name</td>
									<td>@gemstone.Weight</td>
									<td>@gemstone.Price</td>
								</tr>
							}
						</tbody>
					</table>

				</div>
				<div class="col-12 py-2 form-floating">
					<h2>Materials</h2>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Weight (g)</th>
								<th>Unit Price</th>
								<th>Total Price</th>
							</tr>
						</thead>
						<tbody>
							@foreach (Material material in @Model.MaterialSet.Materials)
							{
								var weight = material.MaterialSetMaterials.FirstOrDefault(
								s => s.MaterialSetId == @Model.Jewelry.MaterialSet.Id).Weight;
								<tr>
									<td>@material.Name</td>
									<td>@weight</td>
									<td>@material.Price</td>
									<td>@(weight * material.Price)</td>
								</tr>
							}
						</tbody>
					</table>

				</div>



			</div>
		</div>
	</div>
	<div>
		<h2>Total Price: @Model.QuotationRequest.TotalPrice</h2>
	</div>
</form>
	<div class="row">
		@if (User.IsInRole(SD.Role_Manager))
		{
			<div class="col text-center">
				<a asp-controller="QuotationRequest" asp-action="ManagerApprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-primary btn-lg">Approve</a>
            </div>
            <div class="col">
                <a asp-controller="QuotationRequest" asp-action="ManagerDisapprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-danger btn-lg">Disapprove</a>
            </div>
            
		}
		@if (User.IsInRole(SD.Role_Customer) && Model.QuotationRequest.Status == "Approved by Manager")
		{
			<div class="col text-center">
				<a asp-controller="QuotationRequest" asp-action="CustomerApprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-primary btn-lg">Approve</a>
			</div>
			<div class="col">
				<a asp-controller="QuotationRequest" asp-action="CustomerDisapprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-danger btn-lg">Disapprove</a>
			</div>
		}
		@if (User.IsInRole(SD.Role_Sales) && (Model.QuotationRequest.Status == "Disapproved by Manager" || Model.QuotationRequest.Status == "Disapproved by Customer"))
		{
            <td>
                <a asp-controller="QuotationRequest" asp-action="Create" asp-route-jId="@Model.Jewelry.Id" asp-route-redirectedFrom="false" class="btn btn-primary btn-sm">Create new quotation</a>
            </td>
		}
		else if (Model.QuotationRequest.Status == "Approved by Manager")
		{
			<h2 class="text-success">Approved by manager!</h2>
		}
		else if (Model.QuotationRequest.Status == "Approved by Customer")
		{
			<h2 class="text-success">Approved!</h2>
		}
		else if (Model.QuotationRequest.Status == "Disapproved by Manager" || Model.QuotationRequest.Status == "Disapproved by Customer")
		{
			<h2 class="text-danger">Disapproved!</h2>
		}
	</div>


