@model QuotationRequestVM

    <div class="caption-top row mt-4">
        <h2>Quotation @Model.QuotationRequest.Name for Jewelry @Model.Jewelry.Name</h2>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-10">
                <input asp-for="@Model.Jewelry.Id" hidden />
                <input asp-for="@Model.MaterialSet.Id" hidden />
                <div class="col-12 py-2 form-floating">
                    <input disabled asp-for="@Model.QuotationRequest.Name" class="form-control border-0 shadow" />
                    <label asp-for="@Model.QuotationRequest.Name" class="ms-2"></label>
                </div>
                <div class="col-12 py-2 form-floating">
                    <input disabled asp-for="@Model.QuotationRequest.LaborPrice" class="form-control border-0 shadow" />
                    <label asp-for="@Model.QuotationRequest.LaborPrice" class="ms-2"></label>
                </div>
                <hr />
                <div class="col-12 ">
                    <h3 class="fw-normal">Gemstones</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Carat</th>
                                <th>Color</th>
                                <th>Clarity</th>
                                <th>Cut</th>
                                <th>Price ($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Gemstone gemstone in @Model.MaterialSet.Gemstones)
                            {
                                <tr>
                                    <td>@gemstone.Name</td>
                                    <td>@gemstone.Carat</td>
                                    <td>@gemstone.Color</td>
                                    <td>@gemstone.Clarity</td>
                                    <td>@gemstone.Cut</td>
                                    <td>@gemstone.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="border border-1 p-1 px-2 text-start text-primary fs-5 mt-4 rounded total-text">Gemstone Total: $<span id="gemstoneTotal">0</span></div>
                </div>
                <div class="col-12 ">
                    <h3 class="fw-normal">Materials</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Color</th>
                                <th>Purity</th>
                                <th>Unit Price ($)</th>
                                <th>Weight (g)</th>
                                <th>Total Price ($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MaterialSetMaterial join in @Model.MaterialSet.MaterialSetMaterials)
                            {
                                var material = @Model.MaterialSet.Materials.FirstOrDefault(m => m.Id == join.MaterialId);
                                <tr>
                                    <td>@material?.Type</td>
                                    <td>@material?.Color</td>
                                    <td>@material?.Purity</td>
                                    <td>@material?.Price</td>
                                    <td>@join.Weight</td>
                                    <td>@((join.Weight * material?.Price)?.ToString("F2"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="border border-1 p-1 px-2 text-start text-primary fs-5 mt-4 rounded total-text">Material Total: $<span id="materialTotal">0</span></div>
                </div>
                <hr class="my-3" />
                <h3 class="fw-normal">Set Total Price: $<span id="totalPrice">@Model.QuotationRequest.TotalPrice</span></h3>
            </div>
        </div>
    </div>
<h3 class="fw-normal">Quotation Total Price: $<span id="quotationPrice">@Model.QuotationRequest.TotalPrice</span></h3>
<div class="d-flex justify-content-start align-items-center mt-1">
    @if (User.IsInRole(SD.Role_Manager) && !(Model.QuotationRequest.Status == SD.ManagerDisapproved || Model.QuotationRequest.Status == SD.ManagerApproved))
    {
        <a asp-controller="QuotationRequest" asp-action="ManagerApprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-primary btn-lg mx-1 my-1">Approve</a>
        <a asp-controller="QuotationRequest" asp-action="ManagerDisapprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-danger btn-lg mx-1 my-1">Disapprove</a>
    }
    @if (User.IsInRole(SD.Role_Customer) && Model.QuotationRequest.Status == SD.ManagerApproved)
    {
        <a asp-controller="QuotationRequest" asp-action="CustomerApprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-primary btn-lg mx-1 my-1">Approve</a>
        <a asp-controller="QuotationRequest" asp-action="CustomerDisapprove" asp-route-id="@Model.QuotationRequest.Id" class="btn btn-danger btn-lg mx-1 my-1">Disapprove</a>
    }
    @if (!User.IsInRole(SD.Role_Customer) && Model.QuotationRequest.Status == SD.ManagerApproved)
    {
        <div class="text-center">
            <h3 class="text-success border border-secondary p-2">Approved by manager!</h3>
        </div>
    }
    else if (Model.QuotationRequest.Status == SD.CustomerApproved)
    {
        <div class="text-center">
            <h3 class="text-success border border-secondary p-2">Approved!</h3>
        </div>
    }
    else if (Model.QuotationRequest.Status == SD.ManagerDisapproved || Model.QuotationRequest.Status == SD.CustomerDisapproved)
    {
        <div class="text-center">
            <h3 class="text-danger border border-secondary p-2">Disapproved!</h3>
        </div>
    }
</div>

<div class="d-flex gap-2 my-2">
    <a class="btn btn-secondary" asp-action="ViewAll" asp-controller="QuotationRequest" asp-route-jId="@Model.Jewelry.Id">Back</a>
</div>

@section Scripts {
    <script type="text/javascript">
        const reloadPrice = () => {
            const mId = '@Model.MaterialSet.Id';
            $.ajax({
                url: `/materialset/getCurrentPrice?mId=${mId}`,
                type: 'GET',
                success: (data) => {
                    $("#materialTotal").text(data.materialTotal.toFixed(2));
                    $("#gemstoneTotal").text(data.gemstoneTotal.toFixed(2));
                    $("#totalPrice").text(data.setTotal.toFixed(2));
                    updateQuotationPrice();
                },
                error: () => {
                    toastr.error("Updating price failed.");
                }
            });
        }

        // const updateQuotationPrice = () => {
        //     const laborPrice = parseFloat($("#laborPrice").val());
        //     const totalPrice = parseFloat($("#totalPrice").text());
        //     if (isNaN(laborPrice) || laborPrice <= 0) {
        //         $("#quotationPrice").text("Invalid Labor Price");
        //         return;
        //     }
        //     const quotationPrice = totalPrice + laborPrice;
        //     $("#quotationPrice").text(quotationPrice.toFixed(2));
        // }

        document.addEventListener('DOMContentLoaded', () => {
            reloadPrice();
        });
    </script>
}