@model CheckStatusVM
<form method="post">
    <div>
        <div class="row">
            <div class="col">
                <h2>View Quotation Application</h2>
            </div>
            <div class="col text-end">
                @if (Model.QuotationRequests.Count > 0 && User.IsInRole(SD.Role_Sales))
                {
                    <a onclick="confirmQuotation()" class="btn btn-primary btn-sm" style="margin-top: 10px;">Create new quotation</a>
                }
            </div>
        </div>
        <hr />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>CreatedAt</th>
                    <th>Labor Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.QuotationRequests.OrderBy(u => u.CreatedAt))
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.Name</td>
                        <td>@obj.Status</td>
                        <td>@obj.CreatedAt</td>
                        <td>@obj.LaborPrice</td>
                        <td>@obj.TotalPrice</td>
                        <td><a asp-controller="QuotationRequest" asp-action="Details" asp-route-jId="@obj.Id" asp-route-checkRedirect="false" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-6 col-md-3">
        <a asp-controller="ProductionRequest" asp-action="Index" class="btn btn-outline-primary form-control">
            Back
        </a>
    </div>

    <!-- <div asp-validation-summary="All"></div> -->
</form>
<script>
    function confirmQuotation() {
        if (@Model.checkStatus) {
            var confirmResult = window.confirm("There is a pending quotation.Do you want to continue?");
            if (confirmResult) {
                window.location.href = '@Url.Action("Create", "QuotationRequest", new { jId = Model.QuotationRequests.First().JewelryId })';
            }
        }
        else{
            window.location.href = '@Url.Action("Create", "QuotationRequest", new { jId = Model.QuotationRequests.First().JewelryId })';
        }
    }
</script>