@model List<QuotationRequest>

@{
    var hasPendingRequests = Model.Any(obj => obj.Status != SD.StatusPaid && obj.Status != SD.CustomerApproved);
}

<div>
    <div class="d-flex justify-content-between align-items-center my-4">
        <h2>View Quotation Request of Jewelry: @Model.FirstOrDefault()?.Jewelry?.Name</h2>
        <div class="d-flex gap-2">
            <a class="btn btn-secondary" asp-action="RequestIndex" asp-controller="Jewelry" asp-route-reqId="@Model.FirstOrDefault()?.Jewelry?.ProductionRequestId">Back</a>

            @if (User.IsInRole(SD.Role_Sales) && !Model.Any(obj => obj.Status == SD.StatusPaid || obj.Status == SD.CustomerApproved))
            {
                <button class="btn btn-primary" id="createButton" >Create</button>
            }
        </div>
    </div>
</div>

<table class="table table-bordered table-striped fs-6 fw-normal">
    <thead>
        <tr class="fw-normal">
            <th>Id</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.CreatedAt</td>
                <td>@obj.Status</td>
                @if (User.IsInRole(SD.Role_Customer))
                {
                    if (obj.Status == SD.ManagerApproved || obj.Status == SD.StatusPaid || obj.Status == SD.CustomerApproved || obj.Status == SD.CustomerDisapproved)
                    {
                        <td><a asp-controller="QuotationRequest" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Details</a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                else if ((User.IsInRole(SD.Role_Sales) || User.IsInRole(SD.Role_Manager)) && obj.Status != SD.StatusDiscontinued)
                {
                    <td><a asp-controller="QuotationRequest" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Details</a></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('createButton').addEventListener('click', function () {
            var hasPendingRequests = @hasPendingRequests.ToString().ToLower();
            var jewelryId = @Model.FirstOrDefault()?.Jewelry?.Id;

            if (hasPendingRequests) {
                Swal.fire({
                    title: 'There are ongoing requests',
                    text: "Creating a new request will set any ongoing request's status to be discontinued. Do you wish to continue?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, continue'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Create", "QuotationRequest")?jId=' + jewelryId;
                    }
                });
            } else {
                window.location.href = '@Url.Action("Create", "QuotationRequest")?jId=' + jewelryId;
            }
        });
    </script>
}
