@* @model List<MaterialSet>

<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>View Material</h2>

        </div>

    </div>
    <table class ="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Quantity</th>
                <th>Customer</th>
                <th>Staffs</th>
                <th>Quotation</th>
                <th>Jewelry</th>
                <th>Design</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.OrderByDescending(u => u.CreatedAt))
            {
            <tr>
                    
                <td>@obj.Id</td>
                <td>@obj.CreatedAt</td>
                <td>@obj.Quantity</td>
                <td>@obj?.Customer?.Name</td>
				@if (obj.SalesStaff is not null)
				{
					<td>@obj.SalesStaff.Name</td>
				}
				else
				{
					<td><a asp-controller="MaterialSet" asp-action="TakeRequest" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Take</a></td>
				}
                @if (obj.QuotationRequest is not null)
                {
                    <td><a asp-controller="QuotaionRequest" asp-action="Index" asp-route-id="@obj.QuotationRequest.Id" class="btn btn-primary btn-sm">View</a></td>
                }
                else
                {
                    <td><a asp-controller="QuotationRequest" asp-action="Create" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
                }
                    <td><a asp-controller="Jewelry" asp-action="Create" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
                 @if (obj.Jewelry is not null)
                {
                    <td>@(obj.Jewelry.Name)</td>
                } 
            </tr>
            }
        </tbody>
    </table>
</div>
        <!-- <div asp-validation-summary="All"></div> -->
        *@