@model MaterialSetVM

<div class="container" id="materialView">
    <div class="caption-top row d-flex justify-content-between">
        <h2 class="col-10">Material Set for Jewelry: @Model.Jewelry.Name</h2>
        @if (User.IsInRole(SD.Role_Sales))
        {
            <div class="col-2 d-flex justify-content-end" >
                <a class="btn btn-primary btn-lg px-4 asp-controller="MaterialSet" asp-action="Upsert" asp-route-jId="@Model.Jewelry.Id">Edit</a>
            </div>

        }
    </div>
    @if (Model.MaterialSet is not null)
    {
        <div class="col-12 py-2">
            <h3>Gemstones</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight (carat)</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Gemstone gemstone in @Model.MaterialSet.Gemstones)
                    {
                        <tr>
                            <td>@gemstone.Name</td>
                            <td>@gemstone.Weight</td>
                            <td>@gemstone.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 py-2">
            <h3>Materials</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight (g)</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MaterialSetMaterial join in @Model.MaterialSet.MaterialSetMaterials)
                    {
                        var material = @Model.MaterialSet.Materials.FirstOrDefault(m => m.Id == join.MaterialId);
                        <tr>
                            <td>@material?.Name</td>
                            <td>@join.Weight</td>
                            <td>@material?.Price</td>
                            <td>@(join.Weight * material?.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No materials or gemstones have been added to this set.</p>
    }
</div>
