@model JewelryProductionOrder.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">@Model.Title</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <dl class="row">
            <dt class="col-sm-3">Created At:</dt>
            <dd class="col-sm-9">@Model.CreatedAt.ToString("g")</dd>
            <dt class="col-sm-3">Sales Staff:</dt>
            <dd class="col-sm-9">@Model.SalesStaff.Name</dd>
        </dl>
        <hr />

        <div>
             <img src="~/@Model.Image" alt="Image can't be found'" class="img-fluid" />
            
        </div>

        <br />

        <div>
            @Html.Raw(Model.Description.Replace("\n", "<br />").Replace("\r", ""))
        </div>

        <br />

        <div>

            @Html.Raw(Model.Content)

        </div>
    </div>
</div>
<br />
@if (User.Identity.IsAuthenticated && User.IsInRole(SD.Role_Customer))
{
    <div>
        <h3>Comments</h3>
        <form asp-action="AddComment" method="post">
            <input type="hidden" name="PostId" value="@Model.Id" />
            <div class="form-group">
                <textarea name="Content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}


<br />

<div>
    
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <p><strong>@comment.Owner.Name</strong> @comment.CreatedAt.ToString("g")</p>
            @Html.Raw(comment.Content.Replace("\n", "<br />").Replace("\r", ""))

            <br />
            <br />

            @if (User.Identity.IsAuthenticated && comment.Owner.Email == User.Identity.Name)
            {
                <form asp-action="DeleteComment" method="post" style="display:inline;">
                    <input type="hidden" name="CommentId" value="@comment.Id" />
                    <input type="hidden" name="PostId" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            }
        </div>
        <hr />
    }
</div>

<br />

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

