@model WarrantyCardVM
<head>
    <link rel="stylesheet" href="~/css/CreateWarrantyCard.css" />
</head>
<form method="post">
    <div>
        <div>
            <input asp-for="Jewelry.Id" hidden />

            <h1>Create Warranty Card for Jewelry: @Model.Jewelry.Name</h1>
            <hr />
        </div>
        <!-- <div asp-validation-summary="All"></div> -->
        <h2>Customer Information:</h2>
        <label hidden asp-for="@Model.Customer.Id" class="labels"></label>
        <div class="form-floating">
            <div class="bg-opacity-75">
                <label asp-for="@Model.Customer.Name" class="labels"></label>
                <input disabled asp-for="@Model.Customer.Name" />
            </div>
            </br>
            <h3>Warranty Card Information:</h3>
        </div>

        <div class="form-group">
            <div class="first-col">
                <label asp-for="@Model.WarrantyCard.CreatedAt" class="labels">Issued Date</label>
                <input asp-for="@Model.WarrantyCard.CreatedAt" type="date" id="issued-date" class="form-control" onchange="updateDate('issued-date')">
                <span asp-validation-for="@Model.WarrantyCard.CreatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="first-col">
                <label asp-for="@Model.WarrantyCard.ExpiredAt" class="labels">Expired Date</label>
                <input asp-for="@Model.WarrantyCard.ExpiredAt" type="date" id="expired-date" class="form-control" onchange="updateDate('expired-date')">
                <span asp-validation-for="@Model.WarrantyCard.ExpiredAt" class="text-danger"></span>
                @*2 năm*@
            </div>
        </div>


        <button asp-action="Create"> Create </button> 
        @* <button asp-controller="Jewelry" asp-action="RequestIndex">Cancel</button> *@

       @*  <script>
            const searchText = document.getElementById("searchText");
            const searchResults = document.getElementById("searchResults");
            const allOptions = ["Option 1", "Another Option", "Matching Text", "Yet Another Option", "More Matching Text"];

            function filterResults() {
                const userInput = searchText.value.toLowerCase();
                searchResults.innerHTML = "";

                allOptions.forEach(option => {
                    const lowerOption = option.toLowerCase();
                    if (lowerOption.includes(userInput)) {
                        const optionElement = document.createElement("option");
                        optionElement.text = option;
                        optionElement.value = option;
                        searchResults.appendChild(optionElement);
                    }
                });
            }

            searchText.addEventListener("keyup", filterResults);
        </script> *@
</form>