<form method="post">
    <div>
        <div>
            <h2>View Jewelry</h2>
            <hr />
        </div>
        <table class ="table table-bordered table-striped fs-6 fw-normal">
            <thead>
                <tr class="fw-normal">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Description</th>
                    <th>Materials</th>
                    <th>Quotation</th>
                    <th>Status</th>
                 <th width="13%">Image</th>
                    <th>Design</th>
                    <th>Customer</th>
                    <th>Staffs</th>
                    <th>Production Request</th>
                    <th>Warranty Card</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
                {
					<tr>
						<td>@obj.Id</td>
						<td>@obj.CreatedAt</td>
						<td>@obj.Name</td>
                        <td>@obj.Description</td>
						<td>@obj?.Customer?.Name</td>

						@if (obj.MaterialSet is not null)
						{
						<td><a asp-controller="MaterialSet" asp-action="Index" asp-route-id="@obj.MaterialSet.Id" class="btn btn-primary btn-sm">View</a></td>
						}
						else
						{
						<td><a asp-controller="MaterialSet" asp-action="Create" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
						}
                        @if (@obj.QuotationRequest is not null)
                        {
                        <td><a asp-controller="QuotationRequest" asp-action="Index" asp-route-id="@obj.QuotationRequest.Id" class="btn btn-primary btn-sm">View</a></td>
                        }
                        else
                        {
                        <td><a asp-controller="QuotationRequest" asp-action="Create" asp-route-jId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
                        }

					</tr>
                }
            </tbody>
        </table>
        </div>
        <!-- <div asp-validation-summary="All"></div> -->
        
</form> *@