@model List<JewelryDesign>

<div>
	<div>
		<div class="caption-top row d-flex justify-content-between">
			<h2 class="col-10">Jewelry Design for Jewelry: @Model.FirstOrDefault().Jewelry.Name</h2>
			@if (User.IsInRole(SD.Role_Sales))
			{
				<div class="col-2 d-flex justify-content-end">
					<a class="btn btn-primary btn-lg px-4" asp-controller="JewelryDesign" asp-action="Create" asp-route-jId="@Model.FirstOrDefault().Jewelry.Id">Create</a>
				</div>

			}
		</div>
	</div>
	<table class="table table-bordered table-striped fs-6 fw-normal">
		<thead>
			<tr class="fw-normal">
				<th>Id</th>
				<th>Created At</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
			{
				<tr>
					<td>@obj.Id</td>
					<td>@obj.CreatedAt</td>
					<td>@obj.Status</td>
					<td><a asp-controller="JewelryDesign" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">Details</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
