@model ManufactureVM

<form method="post" class="container">
	<div class="caption-top row">
		<h2>Design for Jewelry</h2>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-10">
				<input asp-for="@Model.JewelryDesign.Id" hidden />
				<div class="col-12 py-2 form-floating">
					<input disabled asp-for="@Model.JewelryDesign.Name" class="form-control border-0 shadow" />
					<label asp-for="@Model.JewelryDesign.Name" class="ms-2"></label>
				</div>
				<div class="col-4">
					<img src="@Model.JewelryDesign.DesignFile" width="100%" style="border-radius:5px; border:1px solid #bbbbbb" />
				</div>
		</div>
		<div>
				<div class="col-12 py-2 form-floating">
					<h2>Gemstones</h2>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Weight (carat)</th>
							</tr>
						</thead>
						<tbody>
							@foreach (Gemstone gemstone in @Model.MaterialSet.Gemstones)
							{
								<tr>
									<td>@gemstone.Name</td>
									<td>@gemstone.Weight</td>
								</tr>
							}
						</tbody>
					</table>

				</div>
				<div class="col-12 py-2 form-floating">
					<h2>Materials</h2>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Weight (g)</th>
							</tr>
						</thead>
						<tbody>
							@{
								@foreach (Material material in @Model.MaterialSet.Materials)
								{
									var weight = material.MaterialSetMaterials.FirstOrDefault(
									s => s.MaterialSetId == @Model.Jewelry.MaterialSet.Id).Weight;
									<tr>
										<td>@material.Name</td>
										<td>@weight</td>
									</tr>
								}
							}
						</tbody>
					</table>

				</div>
		</div>
	</div>

</form>
	<div class="row">

		@if (User.IsInRole(SD.Role_Production))
		{
			<a asp-controller="Jewelry" asp-action="StartManufacture" asp-route-id="@Model.JewelryDesign.JewelryId" class="btn btn-primary btn-sm">Manufacture</a>
		}

	</div>


