@model ProductionRequest


<form method="post" class="container">
	<div class="caption-top row">
		<input asp-for="Customer.Id" hidden/>
		<h2>Deliver to Customer: @Model.Customer.Name</h2>
		@*<label asp-for="@Model.Customer.PhoneNumber" class="ms-2"></label>
		<input disabled asp-for="@Model.Customer.PhoneNumber" />*@
	</div>
	<div class="col-12 py-2 form-floating">
		<div class="row">
			@*<div class="col-10">
			<input asp-for="@Model.Jewelry.Id"  hidden/>
			<input disabled asp-for="@Model.Jewelry.Name"  />
			</div>*@
			<div class="col-12 py-2 form-floating">
				<label asp-for="@Model.Address" class="ms-2"></label>
				<input disabled asp-for="@Model.Address" />

			</div>
		</div>
	</div>
</form>
