@model List<ProductionRequest>

<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>View Production Request</h2>

		</div>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created At</th>
				<th>Quantity</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Status</th>
				<th>Jewelries</th>
				@* @if(!User.IsInRole(SD.Role_Customer))
				{
					
				<th>Cancel</th>
				} *@
				<th>Payment</th>

				@* <th>Design</th> *@
				<th>Deliver</th> 
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
			{
				if (obj.Status == SD.StatusCancelled)
				{
					<tr>

						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span style="color:red">CANCELED</span></td>
					</tr>
				}
				else
				{
					<tr>
						<td>@obj.Id</td>
						<td>@obj.CreatedAt.ToShortDateString()</td>
						<td>@obj.Quantity</td>
						<td>@obj.ContactName</td>
						<td>@obj.PhoneNumber</td>
						<td>@obj.Email</td>
						<td>@obj.Status</td>
						@* 					<td><a asp-controller="ProductionRequestDetail" asp-action="Index" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">View</a></td> *@

                
	@*                 @if (obj.QuotationRequest is not null)
					{
						<td><a asp-controller="QuotaionRequest" asp-action="Index" asp-route-id="@obj.QuotationRequest.Id" class="btn btn-primary btn-sm">View</a></td>
					}
					else
					{
						<td><a asp-controller="QuotationRequest" asp-action="Create" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">Create</a></td>
					} *@
                    
                @if (@obj.Jewelries.Count >= 1)
                {
						<td><a asp-controller="Jewelry" asp-action="RequestIndex" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
					}
					else
					{
						<td></td>
					}
				@if (User.IsInRole(SD.Role_Customer))
					{
							if (obj.Status == SD.StatusPaid || obj.Status == SD.DesignApproved || obj.Status == SD.StatusDesigning
							|| obj.Status == SD.StatusManufactured || obj.Status == SD.StatusAllManufactured || obj.Status == SD.StatusManufaturing ||
							obj.Status == SD.StatusConfirmDelivered || obj.Status == SD.StatusRequestDone)
						{
							
								<td>Paid!</td>
							}
							else if (obj.Status == SD.StatusAllQuotationApproved)
							{

								<td><a asp-controller="ProductionRequest" asp-action="Payment" asp-route-pid="@obj.Id" class="btn btn-success btn-sm">Payment</a></td>
							}
							else
							{
								<td></td>
							}
					}
					else
					{
							if (obj.Status == SD.StatusPaid || obj.Status == SD.DesignApproved || obj.Status == SD.StatusDesigning
							|| obj.Status == SD.StatusManufactured || obj.Status == SD.StatusAllManufactured || obj.Status == SD.StatusManufaturing ||
							obj.Status == SD.StatusConfirmDelivered || obj.Status == SD.StatusRequestDone)
							{

								<td>Paid</td>
							}else
							{
								<td></td>
							}
							
					}
                
					 
					 
					 @if (obj.Status == SD.StatusAllManufactured) 
					 { 

						@if (!User.IsInRole(SD.Role_Customer))
						{
							<td><a asp-controller="ProductionRequest" asp-action="Deliver" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
						}


						else if (User.IsInRole(SD.Role_Customer) )
						{


							<td><a asp-controller="ProductionRequest" asp-action="CustomerViewDelivery" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
						}
					 }
						else if (obj.Status == SD.StatusConfirmDelivered || obj.Status == SD.StatusRequestDone)
					    {
							@if (!User.IsInRole(SD.Role_Customer))
							{
								<td><a asp-controller="ProductionRequest" asp-action="Deliver" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
							}


							else if (User.IsInRole(SD.Role_Customer))
							{


							<td><a asp-controller="ProductionRequest" asp-action="CustomerViewDelivery" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
						}
					 } 
					else
					{
						<td></td>
					}
								
                    

   
						@* 					@if (User.IsInRole(SD.Role_Sales))
					{
					<td><a asp-controller="Jewelry" asp-action="Index" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">View</a></td>
					} *@
						@* <td><a asp-controller="Jewelry" asp-action="RequestIndex" asp-route-reqId="@obj.Id" class="btn btn-primary btn-sm">View</a></td> *@
						@* @if (User.IsInRole(SD.Role_Customer))
						{
							if(obj.Status == SD.StatusPaid)
							{
								<td>Paid!</td>
							}
							else
							{
								<td><a asp-controller="ProductionRequest" asp-action="Payment" asp-route-pId="@obj.Id" class="btn btn-success btn-sm">Payment</a></td>
							}
						} *@
						<td>@obj.Note</td>
					
						@if (User.IsInRole(SD.Role_Sales))
						{
							if (obj.Status != SD.StatusConfirmDelivered && obj.Status != SD.StatusRequestDone)
							{
								@* <td><a asp-action="CancelRequest" asp-route-reqId="@obj.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to cancel this request?')">Cancel</a></td> *@
								<td>
									<form asp-action="CancelRequest" asp-route-id="@obj.Id" method="post" onsubmit="return confirmCancel()">
										<input type="hidden" name="reqId" value="@obj.Id" />
										<button type="submit" class="btn btn-danger btn-sm">Cancel</button>
									</form>
								</td>
							}
							}
							
						else 
						{
							<td></td>
						}
						

				</tr>
				}
			}
		</tbody>
	</table>
</div>
<script>
	function confirmCancel() {
		return confirm('Are you sure you want to cancel this request?');
	}
</script>
<!-- <div asp-validation-summary="All"></div> -->
