@model List<BaseDesign>

<div>
	<div>
		<div class="caption-top row d-flex justify-content-between">
			<h2 class="col-10">Base Design Management</h2>
		</div>
	</div>
	<table class="table table-bordered table-striped fs-6 fw-normal">
		<thead>
			<tr class="fw-normal">
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Created at</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderByDescending(u => u.CreatedAt))
			{
				<tr>
					<td>@obj.Id</td>
					<td>@obj.Name</td>
					<td>@obj.Type</td>
					<td>@obj.CreatedAt</td>
					<td><a asp-controller="BaseDesign" asp-action="Details" asp-route-bId="@obj.Id" class="btn btn-primary btn-sm">Details</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
